

div {
    text-align:justify
}

.titulo {
    background-color: orange;
    height: 10rem;
   }

.text_titulo {
    padding-top: 2rem;
    text-align: center;
    font-size: 3rem;
    align-content: space-around;
}
